body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    padding: 20px;
}

#video-container {
    display: flex;
    justify-content: center;
}

#video {
    width: 640px;
    height: 480px;
    border: 2px solid #333;
    transform: scaleX(-1);
}

#results {
    margin-top: 20px;
}

#result-text {
    font-size: 18px;
    color: #333;
}
@media screen and (max-width: 780px) {
    #results {
        margin-top: 2px;
    }
    
    #result-text {
        font-size: 15px;
        color: #333;
    }
    h1 {
        font-size: 15px;
        color: #333;
        padding: 5px;
    }
    
    #video-container {
        display: flex;
        justify-content: center;
    }
    
    #video {
        width: 240px;
        height: 180px;
        border: 2px solid #333;
        transform: scaleX(-1);
    }
}